In [2]:
import geopandas as gpd
import fiona
fiona.Env();

### Pull in the CA counties GeoJSON

In [3]:
ca_counties = gpd.read_file('./data/caCounties/caCountiesNoChannelIslands.geojson')

In [5]:
ca_counties.head()

,fid,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,CASES,geometry
0,0,06,075,00277302,0500000US06075,06075,San Francisco,06,121485107,479107241,0,"(POLYGON ((-122.514483 37.780829, -122.509843 ..."
1,2,06,111,00277320,0500000US06111,06111,Ventura,06,4773302741,946030569,1,"(POLYGON ((-119.477837 34.379417, -119.473793 ..."
2,0,06,071,00277300,0500000US06071,06071,San Bernardino,06,51948123813,123845007,0,"(POLYGON ((-117.802539 33.975551, -117.79111 3..."
3,0,06,043,00277286,0500000US06043,06043,Mariposa,06,3752472156,36225644,0,"(POLYGON ((-120.394425 37.67504, -120.392504 3..."
4,0,06,103,01692767,0500000US06103,06103,Tehama,06,7638228772,33767784,0,"(POLYGON ((-123.065426 40.286971, -123.060729 ..."

### Drop a few of the columns

In [6]:
ca_counties.drop(columns={'fid', 'CASES', 'AFFGEOID', 'STATEFP', 'COUNTYFP', 'LSAD'}, inplace=True)

In [7]:
ca_counties.head()

,COUNTYNS,GEOID,NAME,ALAND,AWATER,geometry
0,00277302,06075,San Francisco,121485107,479107241,"(POLYGON ((-122.514483 37.780829, -122.509843 ..."
1,00277320,06111,Ventura,4773302741,946030569,"(POLYGON ((-119.477837 34.379417, -119.473793 ..."
2,00277300,06071,San Bernardino,51948123813,123845007,"(POLYGON ((-117.802539 33.975551, -117.79111 3..."
3,00277286,06043,Mariposa,3752472156,36225644,"(POLYGON ((-120.394425 37.67504, -120.392504 3..."
4,01692767,06103,Tehama,7638228772,33767784,"(POLYGON ((-123.065426 40.286971, -123.060729 ..."

In [8]:
ca_counties.to_file('./data/caCounties/caCountiesNoChannelIslands.geojson', driver='GeoJSON')

C:\Users\MBacinsk\AppData\Local\Continuum\anaconda3\envs\mappingEnv\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():