In [1]:
import pandas as pd
import geopandas as gpd

### Script to combine all of the WNV JSON files into a single JSON

In [6]:
import json
import glob

# Empty list for JSON data
json_data = []

# Loops through JSON files in data dir and extract the contents of each and append to the empty list declared above
for file in glob.glob('./data/wnv/*.json'):
    
    # Open and read file in binary mode to keep data as is and not convert anything (e.g. new line, end of line) 
    with open(file, 'rb') as infile:
        
        # Append the currently open file to the json_data list
        json_data.append(json.load(infile))

# Output JSON data to new file 
with open('./data/wnv/output/wnv2003_2018.json', 'w') as outfile:
    json.dump(json_data, outfile)

### Read in the newly created JSON file

In [7]:
json_data = pd.read_json('./data/wnv/output/wnv2003_2018.json')

In [8]:
json_data.head()

,dead_bird,pool,sentinel,surveillance
0,[],"[[-115.70778129001854, 32.76645731969914, Seel...","[[-115.70380745397101, 32.76212619660325, Seel...","[[0.000582078219765, 0.002604673449621, Pico R..."
1,"[[-117.25522355630525, 32.823325277519174, Sa...","[[-115.58010559413997, 33.28432790549945, Nila...","[[-114.55182678654558, 32.7082798937531, Gila ...","[[-0.002241472419204, 0.002569742957021, Carso..."
2,"[[-117.97867287751602, 33.697905400098534, Hun...","[[-0.003564332429742, -0.000147758869172, Olym...","[[-115.58254061094442, 33.28339039855963, Nila...","[[-0.004401337486989, 0.0033883748530740003, C..."
3,"[[-117.03474443919946, 32.622200197317696, Chu...","[[-116.93776355835264, 32.824236764951166, LAK...","[[-114.64640592819218, 32.65938426782535, Yuma...","[[0.004869116032948, -0.002930758169498, None,..."
4,"[[-117.06524547408917, 32.57587171177409, San ...","[[-115.70536399338327, 33.06352430738503, West...","[[-115.7063219308171, 32.765271649553355, Seel...","[[0.0042305860051320004, 0.001971813442978, Un..."