In [9]:
import pandas as pd
import geopandas as gpd
from pandas.io.json import json_normalize

### Script to combine all of the WNV JSON files into a single JSON

In [74]:
import json
import glob

# Empty list for JSON data
json_data = []

# Loops through JSON files in data dir and extract the contents of each and append to the empty list declared above
# Glob would would grab files randomly, using sorted to have glob pickup file sequentially. 
for file in sorted(glob.glob('./data/wnv/*.json')):
    
    # Open and read file in binary mode to keep data as is and not convert anything (e.g. new line, end of line) 
    with open(file, 'rb') as infile:
        
        # Append the currently open file to the json_data list
        json_data.append(json.load(infile))

# Output JSON data to new file 
with open('./data/wnv/output/wnv2003_2018.json', 'w') as outfile:
    json.dump(json_data, outfile)

### Read in the newly created JSON file

In [75]:
json_data = pd.read_json('./data/wnv/output/wnv2003_2018.json')

In [76]:
json_data.head()

,dead_bird,pool,sentinel,surveillance
0,[],"[[-115.55991333277777, 32.79452379068916, El C...",[],"[[-0.0037874454854030003, 0.004151121647450000..."
1,[],"[[-115.70874635314847, 32.760950501453685, See...","[[-115.70466298389093, 32.76097984589758, Seel...","[[0.00040120886695000003, -0.00237453044225900..."
2,[],"[[-115.70778129001854, 32.76645731969914, Seel...","[[-115.70380745397101, 32.76212619660325, Seel...","[[0.000582078219765, 0.002604673449621, Pico R..."
3,"[[-117.06524547408917, 32.57587171177409, San ...","[[-115.70536399338327, 33.06352430738503, West...","[[-115.7063219308171, 32.765271649553355, Seel...","[[0.0042305860051320004, 0.001971813442978, Un..."
4,"[[-117.08130333018387, 32.64154680042579, Chul...","[[-117.03840702222823, 32.59563784834163, Chul...","[[-115.7048189736365, 32.75950529599969, Seele...","[[-0.004922821113662001, -0.004294370979541, C..."

### Read in the JSON without assigning to a dataframe instead.  Seems like it may be easier to work with it this way

In [77]:
with open('./data/wnv/output/wnv2003_2018.json') as f:
    d = json.load(f)

### Work with the first object in the JSON (which is 2003)

In [78]:
year_03 = d[0]

### Assign each specimen type to a variable to create a dataframe

In [81]:
year_03_dead_bird = json_normalize(year_03, record_path='dead_bird') # No data
year_03_pool = json_normalize(year_03, record_path='pool')
year_03_sentinel = json_normalize(year_03, record_path='sentinel')
year_03_surveillance = json_normalize(year_03, record_path='surveillance')

In [82]:
year_03_pool.head()

,0,1,2,3,4,5
0,-115.559913,32.794524,El Centro,1,WNV,"[[9-16-2003, 1]]"
1,-115.584980,32.799079,El Centro,1,WNV,"[[7-16-2003, 1]]"
2,-115.415710,32.798719,Niland,1,WNV,"[[9-16-2003, 1]]"
3,-115.610700,33.181100,Niland,4,WNV,"[[8-19-2003, 2], [9-2-2003, 2]]"
4,-115.575977,33.277483,Niland,8,WNV,"[[8-4-2003, 1], [8-19-2003, 2], [9-2-2003, 3],..."