In [289]:
import pandas as pd
import geopandas as gpd
from pandas.io.json import json_normalize

### Script to combine all of the WNV JSON files into a single JSON

In [290]:
import json
import glob

# Empty list for JSON data
json_data = []

# Loops through JSON files in data dir and extract the contents of each and append to the empty list declared above
# Glob would would grab files randomly, using sorted to have glob pickup file sequentially. 
for file in sorted(glob.glob('./data/wnv/*.json')):
    
    # Open and read file in binary mode to keep data as is and not convert anything (e.g. new line, end of line) 
    with open(file, 'rb') as infile:
        
        # Append the currently open file to the json_data list
        json_data.append(json.load(infile))

# Output JSON data to new file 
with open('./data/wnv/output/wnv2003_2018.json', 'w') as outfile:
    json.dump(json_data, outfile)

### Read in the newly created JSON file

In [291]:
json_data = pd.read_json('./data/wnv/output/wnv2003_2018.json')

In [292]:
json_data.head()

,dead_bird,pool,sentinel,surveillance
0,[],"[[-115.55991333277777, 32.79452379068916, El C...",[],"[[-0.0037874454854030003, 0.004151121647450000..."
1,[],"[[-115.70874635314847, 32.760950501453685, See...","[[-115.70466298389093, 32.76097984589758, Seel...","[[0.00040120886695000003, -0.00237453044225900..."
2,[],"[[-115.70778129001854, 32.76645731969914, Seel...","[[-115.70380745397101, 32.76212619660325, Seel...","[[0.000582078219765, 0.002604673449621, Pico R..."
3,"[[-117.06524547408917, 32.57587171177409, San ...","[[-115.70536399338327, 33.06352430738503, West...","[[-115.7063219308171, 32.765271649553355, Seel...","[[0.0042305860051320004, 0.001971813442978, Un..."
4,"[[-117.08130333018387, 32.64154680042579, Chul...","[[-117.03840702222823, 32.59563784834163, Chul...","[[-115.7048189736365, 32.75950529599969, Seele...","[[-0.004922821113662001, -0.004294370979541, C..."

### Read in the JSON without assigning to a dataframe instead.  Seems like it may be easier to work with it this way

In [293]:
with open('./data/wnv/output/wnv2003_2018.json') as f:
    d = json.load(f)

### Assign json objects to year variables

In [294]:
year_03 = d[0]
year_04 = d[1]
year_05 = d[2]
year_06 = d[3]
year_07 = d[4]
year_08 = d[5]
year_09 = d[6]
year_10 = d[7]
year_11 = d[8]
year_12 = d[9]
year_13 = d[10]
year_14 = d[11]
year_15 = d[12]
year_16 = d[13]
year_17 = d[14]
year_18 = d[15]

### Assign each specimen type (except surveillance) to a variable to create a dataframe if it has data

In [295]:
year_03_pool = json_normalize(year_03, record_path='pool')

year_04_sentinel = json_normalize(year_04, record_path='sentinel')
year_04_pool = json_normalize(year_04, record_path='pool')

year_05_sentinel = json_normalize(year_05, record_path='sentinel')
year_05_pool = json_normalize(year_05, record_path='pool')

year_06_sentinel = json_normalize(year_06, record_path='sentinel')
year_06_dead_bird = json_normalize(year_06, record_path='dead_bird')
year_06_pool = json_normalize(year_06, record_path='pool')

year_07_sentinel = json_normalize(year_07, record_path='sentinel')
year_07_dead_bird = json_normalize(year_07, record_path='dead_bird')
year_07_pool = json_normalize(year_07, record_path='pool')

year_08_sentinel = json_normalize(year_08, record_path='sentinel')
year_08_dead_bird = json_normalize(year_08, record_path='dead_bird')
year_08_pool = json_normalize(year_08, record_path='pool')

year_09_sentinel = json_normalize(year_09, record_path='sentinel')
year_09_dead_bird = json_normalize(year_09, record_path='dead_bird')
year_09_pool = json_normalize(year_09, record_path='pool')

year_10_sentinel = json_normalize(year_10, record_path='sentinel')
year_10_dead_bird = json_normalize(year_10, record_path='dead_bird')
year_10_pool = json_normalize(year_10, record_path='pool')

year_11_sentinel = json_normalize(year_11, record_path='sentinel')
year_11_dead_bird = json_normalize(year_11, record_path='dead_bird')
year_11_pool = json_normalize(year_11, record_path='pool')

year_12_sentinel = json_normalize(year_12, record_path='sentinel')
year_12_dead_bird = json_normalize(year_12, record_path='dead_bird')
year_12_pool = json_normalize(year_12, record_path='pool')

year_13_sentinel = json_normalize(year_13, record_path='sentinel')
year_13_dead_bird = json_normalize(year_13, record_path='dead_bird')
year_13_pool = json_normalize(year_13, record_path='pool')

year_14_sentinel = json_normalize(year_14, record_path='sentinel')
year_14_dead_bird = json_normalize(year_14, record_path='dead_bird')
year_14_pool = json_normalize(year_14, record_path='pool')

year_15_sentinel = json_normalize(year_15, record_path='sentinel')
year_15_dead_bird = json_normalize(year_15, record_path='dead_bird')
year_15_pool = json_normalize(year_15, record_path='pool')

year_16_sentinel = json_normalize(year_16, record_path='sentinel')
year_16_dead_bird = json_normalize(year_16, record_path='dead_bird')
year_16_pool = json_normalize(year_16, record_path='pool')

year_17_sentinel = json_normalize(year_17, record_path='sentinel')
year_17_dead_bird = json_normalize(year_17, record_path='dead_bird')
year_17_pool = json_normalize(year_17, record_path='pool')

year_18_sentinel = json_normalize(year_18, record_path='sentinel')
year_18_dead_bird = json_normalize(year_18, record_path='dead_bird')
year_18_pool = json_normalize(year_18, record_path='pool')

### Function to cleanup the resulting dataframes a bit

In [296]:
# Pass the function a dataframe to work with
def df_cleanup(dataframes):
    for pdf in dataframes:
        
        # Rename columns
        pdf.rename(columns={0: 'lon', 1: 'lat', 2 : 'city', 3 : 'collections', 4 : 'virus', 5 : 'date'}, inplace=True)
        
        # Ensure all city names are capitalized
        pdf['city'] = pdf['city'].str.title()
        
        # Round coordinates to 6 decimal places
        pdf['lat'] = pdf['lat'].round(6)
        pdf['lon'] = pdf['lon'].round(6)
        
        # Add a spectype column which will be populated later
        pdf['spectype'] = ''

### List of our dataframes which will be passed to the df_cleanup function

In [297]:
json_dfs = [year_03_pool, 
            year_04_sentinel, 
            year_04_pool, 
            year_05_sentinel, 
            year_05_pool, 
            year_06_sentinel, 
            year_06_dead_bird, 
            year_06_pool, 
            year_07_sentinel, 
            year_07_dead_bird, 
            year_07_pool, 
            year_08_sentinel, 
            year_08_dead_bird, 
            year_08_pool, 
            year_09_sentinel, 
            year_09_dead_bird, 
            year_09_pool, 
            year_10_sentinel,
            year_10_dead_bird, 
            year_10_pool, 
            year_11_sentinel,
            year_11_dead_bird, 
            year_11_pool, 
            year_12_sentinel, 
            year_12_dead_bird, 
            year_12_pool, 
            year_13_sentinel, 
            year_13_dead_bird, 
            year_13_pool, 
            year_14_sentinel, 
            year_14_dead_bird, 
            year_14_pool, 
            year_15_sentinel, 
            year_15_dead_bird, 
            year_15_pool, 
            year_16_sentinel, 
            year_16_dead_bird, 
            year_16_pool, 
            year_17_sentinel, 
            year_17_dead_bird, 
            year_17_pool, 
            year_18_sentinel, 
            year_18_dead_bird, 
            year_18_pool
           ]

### Pass our list of dataframes to *df_cleanup* to tidy things up a little bit

In [298]:
df_cleanup(json_dfs)

### Populate the *spectype* column in the dataframes

In [299]:
year_03_pool['spectype'] = 'Mosquito Pool' 

year_04_sentinel['spectype'] = 'Sentinel Chicken' 
year_04_pool['spectype'] = 'Mosquito Pool' 

year_05_sentinel['spectype'] = 'Sentinel Chicken'
year_05_pool['spectype'] = 'Mosquito Pool' 

year_06_sentinel['spectype'] = 'Sentinel Chicken'
year_06_dead_bird['spectype'] = 'Dead Bird'
year_06_pool['spectype'] = 'Mosquito Pool' 

year_07_sentinel['spectype'] = 'Sentinel Chicken'
year_07_dead_bird['spectype'] = 'Dead Bird'
year_07_pool['spectype'] = 'Mosquito Pool' 

year_08_sentinel['spectype'] = 'Sentinel Chicken'
year_08_dead_bird['spectype'] = 'Dead Bird'
year_08_pool['spectype'] = 'Mosquito Pool' 

year_09_sentinel['spectype'] = 'Sentinel Chicken'
year_09_dead_bird['spectype'] = 'Dead Bird'
year_09_pool['spectype'] = 'Mosquito Pool' 

year_10_sentinel['spectype'] = 'Sentinel Chicken'
year_10_dead_bird['spectype'] = 'Dead Bird'
year_10_pool['spectype'] = 'Mosquito Pool' 

year_11_sentinel['spectype'] = 'Sentinel Chicken'
year_11_dead_bird['spectype'] = 'Dead Bird'
year_11_pool['spectype'] = 'Mosquito Pool' 

year_12_sentinel['spectype'] = 'Sentinel Chicken'
year_12_dead_bird['spectype'] = 'Dead Bird'
year_12_pool['spectype'] = 'Mosquito Pool' 

year_13_sentinel['spectype'] = 'Sentinel Chicken'
year_13_dead_bird['spectype'] = 'Dead Bird'
year_13_pool['spectype'] = 'Mosquito Pool' 

year_14_sentinel['spectype'] = 'Sentinel Chicken'
year_14_dead_bird['spectype'] = 'Dead Bird'
year_14_pool['spectype'] = 'Mosquito Pool' 

year_15_sentinel['spectype'] = 'Sentinel Chicken'
year_15_dead_bird['spectype'] = 'Dead Bird'
year_15_pool['spectype'] = 'Mosquito Pool' 

year_16_sentinel['spectype'] = 'Sentinel Chicken'
year_16_dead_bird['spectype'] = 'Dead Bird'
year_16_pool['spectype'] = 'Mosquito Pool' 

year_17_sentinel['spectype'] = 'Sentinel Chicken'
year_17_dead_bird['spectype'] = 'Dead Bird'
year_17_pool['spectype'] = 'Mosquito Pool' 

year_18_sentinel['spectype'] = 'Sentinel Chicken'
year_18_dead_bird['spectype'] = 'Dead Bird'
year_18_pool['spectype'] = 'Mosquito Pool'

In [300]:
year_18_pool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 7 columns):
lon            746 non-null float64
lat            746 non-null float64
city           693 non-null object
collections    746 non-null int64
virus          746 non-null object
date           746 non-null object
spectype       746 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 40.9+ KB

### Merge all our data frames and using `concat` since they all have the same columns

In [301]:
merged_dfs = pd.concat(json_dfs)

### Strip out all the square brackets from the date column

In [302]:
# Take intial look
merged_dfs['date'].head()

0                                     [[9-16-2003, 1]]
1                                     [[7-16-2003, 1]]
2                                     [[9-16-2003, 1]]
3                      [[8-19-2003, 2], [9-2-2003, 2]]
4    [[8-4-2003, 1], [8-19-2003, 2], [9-2-2003, 3],...
Name: date, dtype: object

In [303]:
# Strip out square brackets now
merged_dfs['date'] = merged_dfs['date'].astype(str).str.replace("[","").str.replace("]","")

In [304]:
# Take a look after stripping out brackets
merged_dfs['date'].head()

0                                       '9-16-2003', 1
1                                       '7-16-2003', 1
2                                       '9-16-2003', 1
3                        '8-19-2003', 2, '9-2-2003', 2
4    '8-4-2003', 1, '8-19-2003', 2, '9-2-2003', 3, ...
Name: date, dtype: object

### Function to create a geojson from a dataframe.  Many thanks to [Geoff Boeing](https://geoffboeing.com/2015/10/exporting-python-data-geojson/) for his solution.

In [215]:
# Pass the function a dataframe, properties, and lat/lon
def df_to_geojson(df, properties, lat='lat', lon='lon'):
        
        # Create a dictionary for our geojson which also includes a list for our features
        geojson = {'type':'FeatureCollection', 'features':[]}
        
        # Loop over our dataframe and begin populating fields that will create our GeoJSON. 
        # '_' is our dataframe index but we aren't going to use that anywhere else in the 
        for _, row in df.iterrows():
            
            # Create a dictionary for our features elements
            feature = {'type':'Feature',
                       'properties':{},
                       'geometry':{'type':'Point',
                                   'coordinates':[]}}
            
            # Pass our lat/lon from our dataframe to populate the geometry coordinates in our feature dictionary
            feature['geometry']['coordinates'] = [row[lon],row[lat]]
            
            # Loop over the properties list we passed the function to populate the properties portion of our feature dictionary
            for prop in properties:
                feature['properties'][prop] = row[prop]
            
            # Add our newly populated features dictionary to the features list of our geojson dictonary
            geojson['features'].append(feature)
            
        # Return our now fully poplulated geojson dictionary so we will be able to output to a GeoJSON    
        return geojson

### Passed the merged dataframe to *df_to_geojson*

In [66]:
columns = ['city','collections','virus','date','spectype']
wnv_geojson = df_to_geojson(merged_dfs,columns)

### Write *wnv_geojson* to an actual file

In [67]:
wnv_geojson_output = './data/wnv/output/wnv2003_2018.geojson'
with open(wnv_geojson_output, 'w') as output_file:
    json.dump(wnv_geojson, output_file, indent=2)